<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intellisense.review">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity for Admin for Admin. Launched when Admin button is clicked on Main Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Create Account Activity for Admin. Launched when "Create Account" link is clicked on Login Activity -->
        <activity
            android:name=".activities.CreateAccountActivity"
            android:label="@string/create_account"
            android:parentActivityName=".activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>

        <!-- Activity which represents list of reviews -->
        <activity android:name=".activities.ReviewsActivity"
            android:launchMode="singleTop"
            android:label="@string/reviews"  android:noHistory= "true">
        </activity>

        <activity android:name=".activities.DetailReviewActivity"
            android:parentActivityName=".activities.ReviewsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ReviewsActivity" />
        </activity>

        <activity android:name=".activities.More_Info_Activity"
           android:label="@string/review"  android:noHistory= "true"
            android:parentActivityName=".activities.Personal_Info_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Personal_Info_activity" />
        </activity>

        <activity android:name=".activities.Personal_Info_activity"

           android:label="@string/review" >
        </activity>

        <activity android:name=".activities.Review_one"
            android:label="@string/review"
            android:noHistory= "true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>